$base-color: rgba(0, 81, 255, 0.7);
$light-color: lighten($base-color, 10%);
$dark-color: darken($base-color, 10%);
$border-radius: 15px;
$red: rgba(255, 0, 0, 0.7);
$green: #2ab96f;
$grey: rgb(150, 150, 150);
$letter-spacing: 0.06rem;
$block-shadow: 5px 5px 20px rgba(0, 0, 0, 0.377);
